@import "../../theme/mixins.less";

.about-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    
    .values-container, .team-container {
        h1 {
            .content-page-title-h1();
        }
    }

    .team-container {
        .team-member-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    @media  (min-width: 769px) {
        .values-container {
            .outline-container {
                border: 1px solid @standard-grey;
                background-color: @accent-grey;
                box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);  /* Drop shadow */
                border-radius: 8px;
            }
        }
        
    }

    // Laptop and smaller desktop
    @media(min-width: 1025px) {
        width: 80%;
    }

    // Larger desktops
    @media(min-width: 1441px) {
        width: 70%;
    }
}
