@import "../../theme/palette.less";
@import "../../theme/mixins.less";

.home-container {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    h2 {
        .section-header-h2();
        margin-bottom: 0;
        text-align: center;
        font-weight: bold;
    }

    // TODO: Testing fonts - Remove later
    // section:nth-of-type(1) {
    //     font-family: "CovesLight";
    // }

    // section:nth-of-type(2) {
    //     font-family: "Verdana";
    //     font-size: 1.1rem;
    // }

    // section:nth-of-type(3) {
    //     font-family: "Roboto";
    // }

    // section:nth-of-type(4) {
    //     font-family: "Open Sans";

    // }

    // section:nth-of-type(5) {
    //     font-family: "Merriweather";
    // }

    .why-invest {
        margin-bottom: 30px;
        .title{
            width: 100%;
            margin: 20px 0 25px;
        }
    }

}

/* Styles for tablets and above */
@media(min-width: 768px) {

}

// Laptops
@media(min-width: 1025px) {    
    .home-container {
        width: 80%;
    }
}

/* Larger desktops */
@media (min-width: 1441px) {
    .home-container {
        width: 70%;      
    }
}

