@import "../../theme/palette.less";
@import "../../theme/mixins.less";

.home-container {
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .banner {
        border: solid 3px @tan-bg;
        background-image: url('../../images/building-main.jpg');
        background-size: cover;
        background-position: center;
        min-height: 450px;
        height: auto; 
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 8px;
        box-shadow: 0 0 0 6px @green-bg;
        width: calc(100% - 5px);
        box-sizing: border-box;
        margin-top: 15px;


        .banner-title {
            font-size: 2rem;
            margin-top: 15px;
        }

        h1 {
            margin-bottom: 15px;
        }
    }

    h1 {
        font-size: 1.3rem;
        width: 90%;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
        color: @primary-text-white;
    }

    h2 {
        .section-header-h2();
        margin-bottom: 0;
        text-align: center;
        font-weight: bold;
    }

    .mission {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
        align-self: center;
        box-sizing: border-box;
        margin: 60px 0 50px 0;
        padding: 10px;
        background-color: @accent-grey;
        border-radius: 8px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);  /* Drop shadow */


        h2 {
            font-weight: bold;
        }

        p {
            font-size: 1.3em;
            font-weight: 100;
            text-align: center;  
            margin-bottom: 30px;          
        }
    }

    .why-invest, .strategy {

        .title{
            width: 100%;
            margin: 20px 0 25px;
        }
    }

    .why-invest {
        margin-bottom: 30px;
    }

}

/* Styles for tablets and above */
@media(min-width: 768px) {
    .home-container {

        .mission {
            padding: 10px 50px 10px 50px;
        }
    }
}

// Laptops
@media(min-width: 1025px) {
    .home-container {
        width: 80%;

        .banner {
            h1 {
                font-size: 1.5rem;
            }
        }

        .mission {
            padding: 10px 100px 10px 100px;
        }

        .strategy {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
          
        .strategy .section-card-container {
            width: calc(50% - 15px);
            margin-bottom: 30px; 
            flex-direction: column-reverse;
            justify-content: space-between;

            h2 {
                height: 55px;
                text-align: center;
            }

            .section-text {
                text-align: center;
                margin-bottom: 18px;
            }
        }
    }
}

/* Larger desktops */
@media (min-width: 1441px) {
    .home-container {
        width: 70%;

        .mission {
            padding: 10px 225px 10px 225px;
        }
        
        .strategy .section-card-container {
            width: calc(50% - 15px);
            margin-bottom: 30px;
            flex-direction: row;
            justify-content: unset;
            h2 {
                height: 55px;
                text-align: left;
            }

            .section-text {
                text-align: left;
                margin-bottom: 10px;
            }
        }
    }
}

