@import "../../theme/palette.less";
@import "../../theme/mixins.less";

.home-container {
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .banner {
        background-image: url('../../images/building-white-background.jpeg');
        background-size: cover;
        background-position: center;
        height: 250px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.9);

        ::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: 
              linear-gradient(to right, white, rgba(255, 255, 255, 0) 20px),
              linear-gradient(to left, white, rgba(255, 255, 255, 0) 20px),
              linear-gradient(to bottom, white, rgba(255, 255, 255, 0) 30px),
              linear-gradient(to top, white, rgba(255, 255, 255, 0) 20px);
            z-index: 1;
            pointer-events: none;
        }
    }

    h1 {
        font-size: 1.3rem;
        width: 90%;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
    }

    h2 {
        .section-header-h2();
        margin-bottom: 0;
        text-align: center;
    }

    .mission {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
        align-self: center;

        p {
            font-size: 1.3em;
            font-weight: 100;
            text-align: center;
        }
    }

    .why-invest, .strategy {

        .title{
            width: 100%;
            margin: 20px 0;
        }
    }

}

// Laptops
@media(min-width: 1025px) {
    .home-container {
        width: 80%;

        .banner {
            h1 {
                font-size: 1.5rem;
            }
        }

        .strategy {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
          
        .strategy .section-card-container {
            width: calc(50% - 15px);
            margin-bottom: 30px; 
            flex-direction: column-reverse;
            justify-content: space-between;

            h2 {
                height: 55px;
                text-align: center;
            }

            .section-text {
                text-align: center;
                margin-bottom: 18px;
            }
        }
    }
}

/* Larger desktops */
@media (min-width: 1441px) {
    .home-container {
        width: 70%;

        .strategy .section-card-container {
            width: calc(50% - 15px);
            margin-bottom: 30px;
            flex-direction: row;
            justify-content: unset;
            h2 {
                height: 55px;
                text-align: left;
            }

            .section-text {
                text-align: left;
                margin-bottom: 10px;
            }
        }
    }
}

