@import "../../../theme/palette.less";
@import "../../../theme/global.less";

.main-header-container {

    width: 100%;
    background-color: @green-bg;
    
    .flex-container {
        font-family: "VogaMedium";
        font-size: 2.5rem;
        display: flex;
        justify-content: space-evenly;
        color: @primary-text-white;
        margin: 20px;
    }

}
