@import "~normalize.css/normalize.css";
@import "./palette.less";

@font-face { font-family: "VogaMedium"; src: url("./fonts/Voga-Medium.otf") format("truetype"); }
@font-face { font-family: "CovesBold"; src: url("./fonts/Coves-Bold.otf") format("truetype"); }
@font-face { font-family: "CovesLight"; src: url("./fonts/Coves-Light.otf") format("truetype"); }

/* General Styles */
html, body {
  height: 100%;
}

/* Ensures that the root element takes up the full height */
.root-style {
  height: 100%;
}

body {
    font-family: "CovesLight", "Arial", "Roboto", "Sans-Serif", "Helvetica";
    font-size: 1.05rem;
    background-color: @white-bg;
    color: @primary-text-black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

a {
  color: @primary-text-white;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: @primary-tan;
  }
}

/* Buttons */
button {
  cursor: pointer;
  border: none;
  background-color: @green-bg;
  color: @primary-text-white;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1.2em;

  &:hover {
    color: @primary-tan;
  }
}