@import "../../theme/palette.less";
@import "../../theme/mixins.less";

.invest-container {
    display: flex;
    flex-direction: column;

    h1 {
        .content-page-title-h1();
        margin-bottom: 20px;
    }

    .info-section {
        margin-bottom: 30px;
        align-self: center;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column; 

        p {
            font-size: 1.3rem;
            line-height: 1.5;
            text-align: center;
        }
    }

    .form-container {
        align-self: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        border-radius: 8px;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            align-self: center;
            width: auto;

            .form-group {
                display: flex;
                flex-direction: column; /* Ensure vertical stacking */
                width: 100%; /* Make sure the form group spans full width */
                margin-bottom: 15px;

                label,
                input {
                    width: 100%; /* Ensure inputs and labels take full width */
                    box-sizing: border-box; /* Make sure padding and borders don't affect width */
                }
            }

            input {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-sizing: border-box;
                font-size: 1rem;
                max-width: 400px;
                align-self: start;
                margin-bottom: 15px;
            }

            label {
                width: 100%;
                font-size: 1.3rem;

                .required {
                    color: @error-red;
                    vertical-align: middle;
                    font-size: 2em;
                    line-height: normal;
                    margin-left: 5px;
                }
            }

            button {
                margin: 15px 0 15px;
                width: 100%;
                align-self: center;
            }

            /* Radio buttons */
            .radio-group {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 5px;

                .radio-button-pair {
                    display: flex;
                    align-items: baseline;
                    margin-bottom: 5px;
                    position: relative;
                    left: 15px;

                    input[type="radio"] {
                        width: 20px;
                        transform: scale(1.35);
                        margin-right: 10px;
                    }

                    label {
                        font-size: 1.2rem;
                        position: relative;
                        top: -4px;
                    }
                }
            }

            /* Checkboxes */
            .checkbox-group {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 14px 0 5px 0;
            
                .check-box-pair {
                    display: flex;
                    align-items: baseline;
                    margin-bottom: 5px;
                    position: relative;
                    left: 15px;
            
                    input[type="checkbox"] {
                        width: 20px;
                        transform: scale(1.35);
                        margin-right: 10px;
                    }
            
                    label {
                        font-size: 1.2rem;
                        position: relative;
                        top: -4px;
                    }
                }
            }

        }
    }
  
    .Toastify__toast--success {
        background-color: @white-bg;
        border: 1px solid @accent-grey-dark;
        color: @primary-text-black;
        font-size: 1.1em;
    }

    .Toastify__toast--error {
        background-color: @white-bg;
        border: 1px solid @accent-grey-dark;
        color: @primary-text-black;
        font-size: 1.1rem;
    }

    // Tablets
    @media (min-width: 768px) {
        .info-section, .form-container {
            width: 80%;
        }

        .form-container {
            padding: 30px 10px 0 30px;  
        }


        .form-container form {
            button {
                margin: 15px 0 15px;
                align-self: center;
                margin: 20px 30px 20px 0;
            }
        }
    }

    // Laptops
    @media(min-width: 1025px) {
        .info-section, .form-container {
            width: 70%;
        }

        .form-container {
            border: 1px solid @standard-grey;
            background-color: @accent-grey;
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);  /* Drop shadow */
        }

        .form-container form {
            display: flex;
            flex-wrap: wrap; /* Allow wrapping if needed */
            flex-direction: row; /* Display form groups side by side */
            justify-content: flex-end; /* Ensure even spacing between groups */
            align-items: flex-start;
            width: 100%; /* Ensure form takes full width */

            /* Updated for div-based layout */
            .form-group {
                flex: 1;
                margin-right: 50px; /* Add space between form groups */
                max-width: 45%; /* Limit width to ensure groups fit side by side */
            }

            .form-group:last-child {
                margin-right: 15px; /* Remove margin for the last form group */
            }

            button {
                margin: 15px 0 15px;
                width: 250px;
                align-self: flex-end;
                margin: 20px 10px 20px 0;
            }
            
        }
    }

    // Larger desktops
    @media(min-width: 1441px) {
        .info-section, .form-container {
            width: 60%;
        }
    }
}
