@import "../../theme/palette.less";
@import "../../theme/mixins.less";

.invest-container {
    width: 90%;
    padding: 20px;
    margin: 0 auto;

    h1 {
        .content-page-title-h1();
        margin-bottom: 40px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;

        .info-section {
            margin-bottom: 20px;
            
            h2 {
              .aside-header-h2();
              margin-top: 0;    
            }
      
            aside {
              font-size: 1.3rem;
              line-height: 1.5;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: -7px;
        
            input,
            select,
            button {
              width: 100%;
              margin-bottom: 15px;
            }

            label {
              width: 100%;
              font-size: 1.3rem;

              .required {
                color: red;
                vertical-align: middle;
                font-size: 2em;
                line-height: normal;
                margin-left: 5px;
              }
            }
        
            input,
            select {
              padding: 10px;
              border: 1px solid #ccc;
              border-radius: 5px;
              box-sizing: border-box;
              font-size: 1rem;
            }
        
            button {
              margin-top: 10px;
            }
        }
    }

    @media (min-width: 768px) {
        .flex-container {
            flex-direction: row;
            gap: 12%;

            form {
              flex: 2;
              
              button {
                width: 150px;
                align-self: flex-end;
              }
            }
  
            .info-section {
              flex: 2;
            }
        }
    }

    .Toastify__toast--success {
      background-color: @white-bg;
      border: 1px solid @accent-grey-dark;
      color: @primary-text-black;
      font-size: 1.1em;
    }
    
    .Toastify__toast--error {
      background-color: @white-bg;
      border: 1px solid @accent-grey-dark;
      color: @primary-text-black;
      font-size: 1.1rem;
    }

    @media(min-width: 1025px) {
      width: 80%;
    }
    
    /* Larger desktops */
    @media(min-width: 1441px) {
      width: 70%;      
    }

}

