@import "../../../theme/palette.less";
@import "../../../theme/mixins.less";

.team-card-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px 10px 20px;
  border-radius: 8px;
  font-size: 1.3rem;
  flex-direction: column;

    .outer-logo-container {
        display: none;
    }

    .content-container {
        display: flex;
        flex-direction: column;

        .title-container {
            text-align: center;
            margin-bottom: 15px;
                
            .section-subtitle {
                .section-header-h3();
                margin-top: 0;
            }
        }

        .inner-logo-container {
            text-align: center;
            margin-bottom: 5px;

            img {
                border-radius: 8px;
            }
        }
    
        .text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto 15px auto;     
            
            a {
                color: @inline-link;
                text-decoration: none;
            }

            p {
                margin: 10px 0;
            }
        }
    }
    
    // Tablets
    @media (min-width: 768px) {
        flex-direction: row;
        gap: 30px;
        padding: 0;
        margin-bottom: 50px;
    
        .outer-logo-container {
            display: flex;
            flex-direction: column;
            order: 1;

            img {
                border-radius: 8px;
            }
        }
    
        .content-container {
            order: 2;
            align-items: flex-start;
            justify-content: space-evenly;
            
            .title-container {
                margin: 0;

                h3 {
                    margin: 0;
                }
            }

            .inner-logo-container {
                display: none;
            }
          
            .text-container {
                margin: 0;

                p:last-child {
                    margin-bottom: 0;
                }   
            }

        }

      }
}
