@import "../../../theme/palette.less";

.values-summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 40px;
    padding: 0 20px;

    p {
        text-align: left;
    }

    p:first-child {
        margin-top: 0px;
    }

    a {
        color: @inline-link;
        text-decoration: none;

        &:hover {
            color: @inline-link;
        }
    }

    @media (min-width: 769px) {
        padding: 0;

        p {
            width: 80%;
            text-align: center;
        }

        p:first-child {
            margin-top: 30px;
        }
        
        p:last-child {
            margin-bottom: -10px;
        }
        
    }
}